/* 背景色 */
body {
    background-color: #0064b0;
}

/* 戻るボタン */
/* 戻るボタンのフレーム */
.cansel_frame {
    border: solid rgb(189, 160, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 57px;
    height: 32px;
}

/* 戻るボタンのボタン */
.cansel {
    background: rgb(231, 231, 231);
    border-top: 6px solid rgb(255, 255, 255);
    border-right: 6px solid rgb(199, 199, 199);
    border-bottom: 6px solid rgb(177, 177, 177);
    border-left: 6px solid rgb(255, 255, 255);
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 35px;
}

/* ダイヤ購入画面のタイトル */
.dia_buy_title {
    font-size: 30px;
    font-weight: bold;
    color: gold;
    position: absolute;
    transform: translateY(-20px);
    left: 100px;
}

/* 購入品一覧 */
.dia_buy {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 80px;
    left: 100px;
    flex-wrap: wrap;
    overflow: scroll;
}

/* 購入品一覧の内の一つ */
.solo_dia_buy {
    background-color: #003761;
    border-top: solid #005291;
    border-left: solid #005291;
    border-bottom: solid #005291;
    border-right: solid #005291;
    width: 120px;
    height: 160px;
}

/* ダイヤの画像 */
.solo_dia_buy_image {
    position: relative;
    top: 20px;
    left: 40px;
}

/* ダイヤの量 */
.least_dia {
    width: 83px;
    height: 23px;
    position: relative;
    top: 30px;
    margin: auto;
}

/* ダイヤの量の画像 */
.least_dia_image {
    position: relative;
    transform: translateY(-3px);
    left: 10px;
    width: 25px;
    height: 30px;
}

/* ダイヤの量の個数 */
.least_dia_text {
    color: rgb(231, 231, 231);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transform: translateY(-47px);
    left: 40px;
    z-index: 10;
}

/* ダイヤの量のテキスト */
.solo_dia_buy_text {
    text-align: center;
    font-weight: bold;
    background-color: white;
    position: relative;
    top: 30px;
    height: 30px;
}