/* 背景色 */
body {
    background-color: aqua;
}

/* 戻るボタン */
/* 戻るボタンのフレーム */
.cansel_frame {
    border: solid rgb(189, 160, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 57px;
    height: 32px;
}

/* 戻るボタンのボタン */
.cansel {
    background: rgb(231, 231, 231, 0.9);
    border-top: 6px solid rgb(255, 255, 255, 0.9);
    border-right: 6px solid rgb(199, 199, 199, 0.9);
    border-bottom: 6px solid rgb(177, 177, 177, 0.9);
    border-left: 6px solid rgb(255, 255, 255, 0.9);
    border-radius: 0;
    color: black;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 35px;
}

/* 毎日ログインのフレームの画像 */
.login_everyday {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 580px;
    height: 290px;
}

/* 「通常」のテキスト */
.login_dairy_division {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 95px;
    left: 65px;
}

/* 「レア」のテキスト */
.login_dairy_division2 {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 245px;
    left: 65px;
}

/* 通常のアイテム欄 */
.nomal {
    display: flex;
    gap: 10px;
    overflow: scroll;
    position: absolute;
    top: 40px;
    left: 150px;
    width: 450px;
}

/* レアのアイテム欄 */
.rare {
    display: flex;
    gap: 10px;
    overflow: scroll;
    position: absolute;
    top: 195px;
    left: 150px;
    width: 450px;
}

/* 「○日目」 */
.login_dairy_title {
    font-weight: bold;
}

/* 貰えるアイテムの画像 */
.login_dairy_image {
    position: relative;
    transform: translate(-10px, -5px);
    width: 70px;
    height: 70px;
}

/* 貰えるアイテムの個数 */
.login_dairy_count {
    font-weight: bold;
    position: relative;
    transform: translateY(-25px);
    left: 7px;
}