/* 装備品一覧 */
.equipment {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 50px;
    transform: translateX(-10px);
}

/* アイテム単品 */
.material {
    background-color: white;
    border: solid rgb(189, 160, 0);
    width: 30px;
    height: 30px;
}

/* 装備するボタン */
.equipment_button_flame {
    border: solid rgb(189, 160, 0);
    position: absolute;
    top: 167px;
    left: 22px;
    width: 100px;
    height: 40px;
}

/* 「装備する」ボタン */
.equipment_button {
    background: rgb(255, 217, 0, 0.9);
    border-top: 4px solid rgb(255, 225, 52, 0.9);
    border-right: 4px solid rgb(238, 202, 0, 0.9);
    border-bottom: 4px solid rgb(207, 177, 3, 0.9);
    border-left: 4px solid rgb(255, 225, 52, 0.9);
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 170px;
    left: 25px;
    z-index: 10;
    width: 100px;
    height: 40px;
}

/* アイテム一覧 */
.item_list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    border: solid rgb(189, 160, 0);
    background-color: rgba(0,0,0,0.3);
    padding: 10px 10px;
    position: absolute;
    top: 30px;
    left: 205px;
    width: 264px;
    height: 165px;
}

/* アイテムリスト内のアイテム */
.item_border {
    border: 2px solid black;
    width: 44px;
    height: 63px;
}

/* アイテムリスト内のアイテムの画像 */
.list_material {
    background-color: rgb(217, 217, 217);
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 20px solid white;
    border-left: 2px solid white;
    width: 40px;
    height: 40px;
    transform: translateY(-50px);
}

/* アイテムリスト内のアイテムのテキスト */
.item_text_position {
    position: relative;
    transform: translateY(-90px);
    text-align: center;
    font-weight: bold;
}

/* アイテムリスト内の武器の重ね合わせ数 */
.overlap_color {
    background: white;
    width: 18px;
    height: 18px;
    position: relative;
    transform: translateY(-15px);
    left: 1px;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

/* 種別ボタン */
.weapon_type_buttons {
    display: flex;
    flex-flow: column;
    gap: 10px;
    position: relative;
    top: 30px;
    left: 495px;
}

/* 種別ボタンの枠 */
.weapon_type_frame {
    border: solid rgb(189, 160, 0);
    border-radius: 0px 20px 20px 0px;
    width: 49px;
    height: 47px;
    position: relative;
    transform: translate(-18px, -70px);
}

.weapon_type_frame2 {
    border: solid rgb(189, 160, 0);
    border-radius: 0px 20px 20px 0px;
    width: 49px;
    height: 47px;
    position: relative;
    transform: translate(-18px, -70px);
}

/* 種別ボタンのテキスト */
.weapon_type_text {
    position: relative;
    transform: translateY(-10px);
}

/* 種別ボタンそれぞれ */
.weapon_soad_button {
    background: rgb(0, 0, 0, 0.9);
    border: rgb(0, 0, 0, 0.9);
    border-right: 5px solid rgb(85, 85, 85, 0.9);
    border-bottom: 5px solid rgb(99, 99, 99, 0.9);
    border-radius: 0px 20px 20px 0px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

.weapon_shield_button {
    background: rgb(231, 231, 231, 0.9);
    border: rgb(231, 231, 231, 0.9);
    border-right: 5px solid rgb(241, 241, 241, 0.9);
    border-bottom: 5px solid rgb(255, 255, 255, 0.9);
    border-radius: 0px 20px 20px 0px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

.weapon_decoration_button {
    background: rgb(231, 231, 231, 0.9);
    border: rgb(231, 231, 231, 0.9);
    border-right: 5px solid rgb(243, 243, 243, 0.9);
    border-bottom: 5px solid rgb(255, 255, 255, 0.9);
    border-radius: 0px 20px 20px 0px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

/* 装備画面のヘッダーボタン */
.equip {
    background: #0062ad;
    border-radius: 0;
}