/* ガチャの背景 */
.gatya_image {
    position: absolute;
    top: 70px;
    left: 62px;
    width: 556px;
    height: 200px;
}

/* ガチャのタイトル */
.gatya_title {
    color: gold;
    position: absolute;
    top: 50px;
    left: 72px;
    font-size: x-large;
    font-weight: 800;
}

/* ガチャを引くボタン達 */
.gatya_button {
    position: absolute;
    top: 220px;
    right: 70px;
    display: flex;
    gap: 20px;
}

/* ガチャを引くボタン */
.pull {
    background-color: gold;
    border-top: 4px solid rgb(252, 232, 121);
    border-right: 4px solid rgb(192, 163, 0);
    border-bottom: 4px solid rgb(192, 163, 0);
    border-left: 4px solid rgb(252, 232, 121);
    border-radius: 0;
    color: black;
    font-family: serif;
    font-weight: 900;
    width: 60px;
    height: 30px;
}

/* ガチャ画面のボタン */
.gatya_buttons {
    position: absolute;
    top: 308px;
    left: 80px;
}

.gatya {
    background-color: #5FD1D9;
    border-top: 4px solid #6ae7f0;
    border-right: 4px solid #4da9af;
    border-bottom: 4px solid #4da9af;
    border-left: 4px solid #6ae7f0;
    border-radius: 0;
}