/* ガチャの背景 */
.gatya_image {
    position: absolute;
    top: 80px;
    left: 45px;
    width: 556px;
    height: 195px;
    border: solid rgb(189, 160, 0);
}

/* ガチャのタイトル */
.gatya_title {
    color: gold;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 68px;
    font-size: x-large;
}

/* ガチャを引くボタン達 */
.gatya_button {
    position: absolute;
    top: 235px;
    right: 85px;
    display: flex;
    gap: 30px;
}

/* ガチャを引くボタン */
.pull {
    background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
    border-top: 4px solid rgb(252, 232, 121);
    border-right: 4px solid rgb(192, 163, 0);
    border-bottom: 4px solid rgb(192, 163, 0);
    border-left: 4px solid rgb(252, 232, 121);
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
     rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
     rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
    width: 75px;
    height: 35px;
}

/* ガチャ画面のボタン */
.home_button_text2 {
    position: relative;
    transform: translateY(-25px);
    left: 3px;
}

.homepage_icon_danjyon2 {
    position: relative;
    left: 3px;
    width: 50px;
    height: 40px;
}

.gatya_buttons {
    background-color: #003761;
    position: absolute;
    top: 330px;
    transform: translateX(-10px);
    width: 670px;
    height: 45px;
}

.gatya {
    background: #0062ad;
    border-radius: 0;
}

/* モーダルウィンドウの設定 */
/* モーダルウィンドウの背景 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* モーダルウィンドウの中身 */
.modal-content {
  background-color: #f4f4f4;
  border-top: 9px solid rgb(252, 232, 121);
  border-right: 9px solid rgb(192, 163, 0);
  border-bottom: 9px solid rgb(192, 163, 0);
  border-left: 9px solid rgb(252, 232, 121);
  margin: 60px 110px;
  width: 450px;
  height: 250px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-body {
    position: relative;
    top: 0px;
    left: 30px;
}

/* モーダルウィンドウの文章 */
.modal_text {
    position: absolute;
    top: 60px;
    left: 335px;
}

.modal_title {
    font-weight: bold;
    font-size: 22px
}

.modal_note {
    font-size: 12px;
    position: absolute;
    top: 55px;
    left: 5px;
}

/* モーダルウィンドウのボタン */
.modal_buttons {
    display: flex;
    gap: 10px;
    position: relative;
    top: 80px;
    left: 190px;
}

.calsel_button {
    background-color: white;
    border-top: 4px solid white;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid white;
    border-radius: 0;
    color: black;
    width: 100px;
    height: 30px;
}

.decision_button {
    background: linear-gradient(45deg, green 0%, rgb(0, 194, 0) 45%, rgb(34, 255, 34) 70%, rgb(0, 194, 0) 85%, green 90% 100%);
    border-top: 4px solid rgb(0, 196, 0);
    border-right: 4px solid rgb(0, 160, 0);
    border-bottom: 4px solid green;
    border-left: 4px solid rgb(0, 196, 0);
    border-radius: 0;
    color: white;
    width: 100px;
    height: 30px;
}