/* ユーザ情報 */
.player_info {
    flex-wrap: wrap;
    overflow: scroll;
    background-color:rgba(255,255,255,0.8);
    padding: 0px 10px 30px 10px;
    position: absolute;
    top: 80px;
    left: 35px;
    width: 170px;
    height: 150px;
}

/* キャラクターのフレーム */
.player_position {
    position: absolute;
    top: 70px;
    left: 180px;
}

/* キャラクター画像 */
.character_position {
    width: 230px;
    height: 230px;
}

/* キャラクターのセリフ */
.talk_box {
    flex-wrap: wrap;
    overflow: scroll;
    background-color: rgba(255,255,255,0.8);
    border: solid 3px rgb(189, 160, 0,0.8);
    border-radius: 20px;
    padding: 7px 15px;
    position: absolute;
    top: 120px;
    transform: translateX(-15px);
    width: 250px;
    height: 60px;
}

/* ダンジョン選択画面への遷移ボタン */
.danjyon_select {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 50px;
    color: black;
    font-family: serif;
    font-weight: 1000;
    position: absolute;
    top: 80px;
    left: 430px;
    width: 100px;
    height: 100px;
}

/* ホーム画面のボタン */
.mypage_buttons {
    position: absolute;
    top: 310px;
    left: 82px;
}

.mypage {
    background: linear-gradient(45deg, #57c1c9 0%, #62d6df 45%, #97f8ff 70%, #62d6df 85%, #57c1c9 90% 100%);
    border-top: 4px solid #6ae7f0;
    border-right: 4px solid #4da9af;
    border-bottom: 4px solid #4da9af;
    border-left: 4px solid #6ae7f0;
    border-radius: 0;
}