/* 残量 */
.leasts {
    position: relative;
    top: 0px;
    left: 325px;
}

/* コインの残量 */
.least_coin {
    background-color: #003761;
    border-top: solid #005291;
    border-bottom: solid #005291;
    border-right: solid #005291;
    border-radius: 10px;
    width: 83px;
    height: 23px;
    position: relative;
    transform: translateY(-41px);
    right: 30x;
}

.least_coin_image {
    position: relative;
    transform: translate(-15px, -3px);
    width: 25px;
    height: 30px;
}

.least_dia_coin {
    color: rgb(231, 231, 231);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transform: translateY(-47px);
    left: 45px;
    z-index: 10;
}

/* ダイヤの残量 */
.least_dia {
    background-color: #003761;
    border-top: solid #005291;
    border-bottom: solid #005291;
    border-right: solid #005291;
    border-radius: 10px;
    width: 83px;
    height: 23px;
    position: relative;
    transform: translateY(-71px);
    left: 110px;
}

.least_dia_image {
    position: relative;
    transform: translate(-15px, -3px);
    width: 25px;
    height: 30px;
}

.least_dia_text {
    color: rgb(231, 231, 231);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transform: translateY(-47px);
    left: 45px;
    z-index: 10;
}

/* ユーザ情報 */
.player_info {
    flex-wrap: wrap;
    overflow: scroll;
    background-color:rgba(0,0,0,0.3);
    color: rgb(211, 211, 211);
    padding: 0px 10px 30px 10px;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 160px;
    height: 160px;
    font-weight: bold;
    line-height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(189, 160, 0);
}

/* デイリー目標確認ボタン */
.dairy {
    background-color: rgb(205, 205, 205);
    position: absolute;
    top: 275px;
    left: 590px;
    width: 40px;
    height: 40px;
}

.dairy_button_text {
    color: black;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 290px;
    left: 590px;
}

/* 実績目標確認ボタン */
.achieve {
    background-color: rgb(205, 205, 205);
    position: absolute;
    top: 275px;
    left: 540px;
    width: 40px;
    height: 40px;
}

.achieve_button_text {
    color: black;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 290px;
    left: 550px;
}

/* ギルド画面遷移ボタン */
.guild {
    background-color: rgb(205, 205, 205);
    position: absolute;
    top: 275px;
    left: 490px;
    width: 40px;
    height: 40px;
}

.guild_button_text {
    color: black;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 290px;
    left: 495px;
}

/* キャラクター画像 */
.character_position {
    width: 230px;
    height: 310px;
    position: absolute;
    transform: translateY(-70px);
    left: 140px;
}

/* キャラクターの画像以外のフレーム */
.player_position {
    position: absolute;
    transform: translateY(-30px);
    left: 127px;
}

/* キャラクターのセリフ */
.talk_box {
    flex-wrap: wrap;
    overflow: scroll;
    background-color: rgba(0,0,0,0.7);
    color: rgb(211, 211, 211);
    border: solid 3px rgb(189, 160, 0,0.8);
    border-radius: 20px;
    padding: 7px 15px;
    position: absolute;
    top: 130px;
    left: 15px;
    width: 185px;
    height: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

/* サウンドアイコン */
.sound_button {
    background: rgb(218, 218, 218);
    border: solid rgb(189, 160, 0,0.8);
    border-radius: 0px 20px 0px 0px;
    position: relative;
    top: 145px;
    left: 207px;
    width: 25px;
    height: 30px;
}

.sound_icon {
    position: relative;
    top: 3px;
    transform: translateX(-11px);
    width: 20px;
    height: 20px;
}

.event_adv {
    position: absolute;
    transform: translate(-70px, -50px);
    width: 200px;
}

.login_adv {
    position: absolute;
    top: 100px;
    transform: translate(-53px, -50px);
    width: 183px;
}

.go_town {
    background-color: rgb(216, 216, 216);
    border: 2px solid rgb(189, 160, 0);
    position: absolute;
    top: 130px;
    transform: translateX(-53px);
    color: rgb(255, 229, 82);
    width: 78px;
    height: 70px;
}

.pictoriary {
    background-color: rgb(216, 216, 216);
    border: 2px solid rgb(189, 160, 0);
    position: absolute;
    top: 130px;
    left: 53px;
    color: rgb(255, 229, 82);
    width: 78px;
    height: 70px;
}

.town_image {
    position: relative;
    transform: translateX(-8px);
    width: 70px;
    height: 60px;
}

.pict_image {
    position: relative;
    top: 5px;
    width: 50px;
    height: 50px;
}

.town_text {
    position: relative;
    transform: translateY(-40px);
    left: 3px;
    font-weight: bold;
    font-size: 20px;
}

.pict_text {
    position: relative;
    transform: translateY(-30px);
    font-weight: bold;
    font-size: 20px;
}

.buttons {
    transform: translate(-80px, -59px);
}

/* ホーム画面のボタン */
.mypage_buttons {
    position: absolute;
    top: 310px;
    left: 82px;
}

.mypage {
    background: #0062ad;
    border-radius: 0;
}

/* モーダルウィンドウの設定 */
/* モーダルウィンドウの背景 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* モーダルウィンドウの中身 */
.modal-content {
  background-color: #01508d;
  border: 5px solid rgb(189, 160, 0);
  color: gold;
  margin: 60px 90px;
  padding: 1px 20px;
  width: 450px;
  height: 250px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header {
    position: relative;
    transform: translateY(-10px);
    text-align: center;
}

.modal-body {
    flex-wrap: wrap;
    overflow: scroll;
    position: relative;
    transform: translateY(-20px);
}

.notice_button {
    background-color: #F4F4E8;
    border: solid 2px #c4c4b8;
    color: black;
    width: 450px;
    height: 70px;
    border-radius: 10px;
}

.modal-fotter {
    position: relative;
    top: 65px;
}

.modal_close_button {
    position: absolute;
    left: 175px;
    background-color: #F4F4E8;
    border: solid 2px #c4c4b8;
    color: black;
    width: 100px;
    height: 30px;
}

/* プレゼントのみのCSS */
.present_box {
    background-color: #F4F4E8;
    border: solid 2px #c4c4b8;
    color: black;
    margin-bottom: 10px;
    width: 420px;
    height: 60px;
    border-radius: 10px;
    padding: 0px 10px;
}

.present_title {
    position: relative;
    transform: translateY(-15px);
}

.present_border {
    width: 3px;
    height: 50px;
}

.present_text {
    position: relative;
    transform: translateY(-35px);
}

.present_button {
    background-color: #f8f8a7;
    border: solid 2px #c2c2b5;
    color: black;
    position: relative;
    transform: translateY(-102px);
    left: 345px;
    width: 80px;
    height: 30px;
}

.present_modal_close_button {
    position: absolute;
    transform: translateY(-80px);
    left: 175px;
    background-color: #F4F4E8;
    border: solid 2px #c4c4b8;
    color: black;
    width: 100px;
    height: 30px;
}

/* デイリー＆実績のCSS */
.goal_box {
    background-color: #F4F4E8;
    border: solid 2px #c4c4b8;
    color: black;
    margin-bottom: 10px;
    width: 420px;
    height: 60px;
    border-radius: 10px;
    padding: 0px 10px;
}

.goal_box_text {
    position: relative;
    transform: translateY(-10px);
    font-weight: bold;
}

.goal_box_image {
    position: relative;
    transform: translateY(-25px);
    width: 25px;
    height: 25px;
}

.goal_box_count {
    position: relative;
    transform: translateY(-68px);
    left: 30px;
}

.goal_box_button1 {
    position: relative;
    transform: translateY(-130px);
    left: 340px;
    background-color: #f8f8a7;
    border: solid 2px #c2c2b5;
    color: black;
    width: 80px;
    height: 30px;
}

.goal_box_button2 {
    position: relative;
    transform: translateY(-130px);
    left: 340px;
    background-color: #c4c4b8;
    border: solid 2px #c2c2b5;
    color: black;
    width: 80px;
    height: 30px;
}
