/* ユーザ情報 */
.player_info {
    flex-wrap: wrap;
    overflow: scroll;
    background-color:rgba(255,255,255,0.8);
    padding: 0px 10px 30px 10px;
    position: absolute;
    top: 80px;
    left: 40px;
    width: 160px;
    height: 150px;
    font-weight: bold;
    border: solid rgb(189, 160, 0);
}

/* キャラクターのフレーム */
.player_position {
    position: absolute;
    top: 70px;
    left: 180px;
}

/* キャラクター画像 */
.character_position {
    width: 230px;
    height: 230px;
}

/* キャラクターのセリフ */
.talk_box {
    flex-wrap: wrap;
    overflow: scroll;
    background-color: rgba(255,255,255,0.8);
    border: solid 3px rgb(189, 160, 0,0.8);
    border-radius: 20px;
    padding: 7px 15px;
    position: absolute;
    top: 120px;
    transform: translateX(-15px);
    width: 250px;
    height: 60px;
    font-weight: bold;
}

/* ダンジョン選択画面への遷移ボタン */
.danjyon_select {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 50px;
    position: absolute;
    top: 80px;
    left: 430px;
    width: 100px;
    height: 100px;
}

/* ダンジョン選択画面への遷移ボタンのアイコン */
.danjyon_select_icon {
    position: absolute;
    top: 10px;
    left: 30px;
}

/* ダンジョン選択画面への遷移ボタンのテキスト */
.danjyon_select_text {
    position: absolute;
    top: 35px;
    left: 13px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
     rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
     rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}

/* ホーム画面のボタン */
.mypage_buttons {
    position: absolute;
    top: 310px;
    left: 82px;
}

.mypage {
    background: linear-gradient(45deg, #57c1c9 0%, #62d6df 45%, #97f8ff 70%, #62d6df 85%, #57c1c9 90% 100%);
    border-top: 4px solid #6ae7f0;
    border-right: 4px solid #4da9af;
    border-bottom: 4px solid #4da9af;
    border-left: 4px solid #6ae7f0;
    border-radius: 0;
}

/* モーダルウィンドウの設定 */
/* モーダルウィンドウの背景 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* モーダルウィンドウの中身 */
.modal-content {
  background-color: #f4f4f4;
  border: inset 7px black;
  margin: 60px 90px;
  padding: 1px 20px;
  width: 450px;
  height: 250px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header {
    position: relative;
    transform: translateY(-10px);
    text-align: center;
}

.modal-body {
    flex-wrap: wrap;
    overflow: scroll;
    position: relative;
    transform: translateY(-20px);
}

.notice_button {
    background-color: #F4F4E8;
    border: solid 2px #e2e2d4;
    color: black;
    width: 450px;
    height: 70px;
    border-radius: 10px;
}

.modal-fotter {
    position: relative;
    top: 55px;
}

.modal_close_button {
    position: relative;
    left: 175px;
    background-color: #F4F4E8;
    border: solid 2px #e2e2d4;
    color: black;
    width: 100px;
    height: 30px;
}

/* プレゼントのみのCSS */
.present_box {
    background-color: #F4F4E8;
    border: solid 2px #e2e2d4;
    color: black;
    width: 420px;
    height: 60px;
    border-radius: 10px;
    padding: 0px 10px;
}

.present_title {
    position: relative;
    transform: translateY(-15px);
}

.present_border {
    width: 3px;
    height: 50px;
}

.present_text {
    position: relative;
    transform: translateY(-35px);
}

.present_button {
    background-color: #e2e2d4;
    color: black;
    position: relative;
    transform: translateY(-102px);
    left: 345px;
    width: 80px;
    height: 30px;
}
