/* 装備品一覧 */
.equipment {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 90px;
}

/* アイテム一覧 */
.item_list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    border: solid black;
    background-color: white;
    padding: 10px 10px;
    position: absolute;
    top: 70px;
    left: 220px;
    width: 280px;
    height: 175px;
}

/* アイテム単品 */
.material {
    background-color: white;
    border: solid black;
    width: 30px;
    height: 30px;
}

/* アイテム画面のボタン */
.item_buttons {
    position: absolute;
    top: 310px;
    left: 82px;
}

.item {
    background: linear-gradient(45deg, #57c1c9 0%, #62d6df 45%, #97f8ff 70%, #62d6df 85%, #57c1c9 90% 100%);
    border-top: 4px solid #6ae7f0;
    border-right: 4px solid #4da9af;
    border-bottom: 4px solid #4da9af;
    border-left: 4px solid #6ae7f0;
    border-radius: 0;
}