/* 装備品一覧 */
.equipment {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 90px;
}

/* アイテム一覧 */
.item_list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    border: solid black;
    background-color: white;
    padding: 10px 10px;
    position: absolute;
    top: 70px;
    left: 220px;
    width: 280px;
    height: 175px;
}

/* アイテム単品 */
.material {
    border: solid black;
    width: 30px;
    height: 30px;
}

/* アイテム画面のボタン */
.item_buttons {
    position: absolute;
    top: 310px;
    left: 82px;
}

.item {
    background-color: #5FD1D9;
}