/* 戻るボタン */
/* 戻るボタンのフレーム */
.cansel_frame {
    border: solid rgb(189, 160, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 57px;
    height: 32px;
}

/* 戻るボタンのボタン */
.cansel {
    background: rgb(231, 231, 231, 0.9);
    border-top: 6px solid rgb(255, 255, 255, 0.9);
    border-right: 6px solid rgb(199, 199, 199, 0.9);
    border-bottom: 6px solid rgb(177, 177, 177, 0.9);
    border-left: 6px solid rgb(255, 255, 255, 0.9);
    border-radius: 0;
    color: black;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 35px;
}

/* タンスの画像 */
.tansu_image {
    position: relative;
    top: 20px;
    left: 300px;
    width: 130px;
    height: 125px;
}

/* 本棚の画像 */
.hondana_image {
    position: relative;
    top: 20px;
    left: 300px;
    width: 130px;
    height: 125px;
}

/* キャラクターの画像 */
.character_mini_image {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 80px;
    height: 80px;
}

/* 移動ボタンの位置 */
.arrow_buttons {
    position: relative;
    top: 180px;
}

/* ボタンのテキスト */
.button_text {
    position: relative;
    transform: translate(-10px, -13px);
}

/* 上矢印 */
.up_arrow {
    position: relative;
    transform: translateY(-55px);
    left: 62px;
    background: rgba(0, 100, 176, 0.8);
    border-top: 6px solid rgba(0, 145, 255, 0.8);
    border-right: 6px solid rgba(0, 93, 164, 0.8);
    border-bottom: 6px solid rgba(0, 69, 122, 0.8);
    border-left: 6px solid rgba(0, 145, 255, 0.8);
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

/* 左矢印 */
.left_arrow {
    position: relative;
    transform: translateX(-50px);
    background: rgba(0, 100, 176, 0.8);
    border-top: 6px solid rgba(0, 145, 255, 0.8);
    border-right: 6px solid rgba(0, 93, 164, 0.8);
    border-bottom: 6px solid rgba(0, 69, 122, 0.8);
    border-left: 6px solid rgba(0, 145, 255, 0.8);
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

/* 下矢印 */
.down_arrow {
    position: relative;
    transform: translateX(-50px);
    background: rgba(0, 100, 176, 0.8);
    border-top: 6px solid rgba(0, 145, 255, 0.8);
    border-right: 6px solid rgba(0, 93, 164, 0.8);
    border-bottom: 6px solid rgba(0, 69, 122, 0.8);
    border-left: 6px solid rgba(0, 145, 255, 0.8);
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

/* 右矢印 */
.right_arrow {
    position: relative;
    transform: translateX(-50px);
    background: rgba(0, 100, 176, 0.8);
    border-top: 6px solid rgba(0, 145, 255, 0.8);
    border-right: 6px solid rgba(0, 93, 164, 0.8);
    border-bottom: 6px solid rgba(0, 69, 122, 0.8);
    border-left: 6px solid rgba(0, 145, 255, 0.8);
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

/* ジャンプボタン */
.jump {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 100, 176, 0.8);
    border-top: 6px solid rgba(0, 145, 255, 0.8);
    border-right: 6px solid rgba(0, 93, 164, 0.8);
    border-bottom: 6px solid rgba(0, 69, 122, 0.8);
    border-left: 6px solid rgba(0, 145, 255, 0.8);
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 130px;
    height: 80px;
}