/* 戻るボタン */
.cansel_frame {
    border: solid rgb(189, 160, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 57px;
    height: 32px;
}

.cansel {
    background: rgb(231, 231, 231);
    border-top: 6px solid rgb(255, 255, 255);
    border-right: 6px solid rgb(199, 199, 199);
    border-bottom: 6px solid rgb(177, 177, 177);
    border-left: 6px solid rgb(255, 255, 255);
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 35px;
}

/* 辞書の画像 */
.pictoriary_image {
    position: absolute;
    transform: translateY(-20px);
    left: 90px;
    width: 570px;
    height: 450px;
}

/* 項目切り替えボタン */
.type_buttons {
    overflow: scroll;
    position: absolute;
    top: 60px;
    left: 40px;
}

/* ボタンの名前 */
.type_text {
    position: relative;
    transform: translateY(-50px);
    left: 50px;
    font-size: 18px;
    color: rgb(6, 6, 6);
}

.deco_text {
    position: relative;
    transform: translateY(-50px);
    left: 40px;
    font-size: 18px;
    color: rgb(6, 6, 6);
}

.item_text {
    position: relative;
    transform: translateY(-50px);
    left: 25px;
    font-size: 18px;
    color: rgb(6, 6, 6);
}

/* ボタンの位置 */
.shield_button {
    position: relative;
    transform: translateY(-50px);
}

.deco_button {
    position: relative;
    transform: translateY(-100px);
}

.item_button {
    position: relative;
    transform: translateY(-150px);
}

.enemy_button {
    position: relative;
    transform: translateY(-200px);
}

.story_button {
    position: relative;
    transform: translateY(-250px);
}

/* 図鑑の内容 */
.pict_title {
    color: gold;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 220px;
    z-index: 100px;
}

.pictoriary_content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: white;
    position: absolute;
    top: 90px;
    left: 200px;
    width: 200px;
    height: 200px;
    padding: 0px 20px;
}

.pictoriary_item_image {
    width: 40px;
    height: 40px;
    border: 2px solid gold;
}

.pictoriary_item_text {
    position: relative;
    transform: translateY(-15px);
    left: 7px;
    font-weight: bold;
}