/* 強化する装備 */
.power_item {
    border: solid black;
    background-color: white;
    position: absolute;
    top: 70px;
    left: 130px;
}

/* 使用するアイテムのリスト */
.useItemList {
    display: flex;
    gap: 5px;
    border: solid black;
    background-color: white;
    position: absolute;
    top: 240px;
    left: 80px;
    width: 200px;
    height: 30px;
}

/* リストの中身 */
.useItem {
    width: 30px;
    height: 30px;
}

/* アイテム一覧 */
.item_list {
    display: flex;
    gap: 10px;
    border: solid black;
    background-color: white;
    padding: 10px 10px;
    position: absolute;
    top: 70px;
    left: 340px;
    width: 250px;
    height: 200px;
}

/* 一覧の中身 */
.material {
    border: solid black;
    width: 30px;
    height: 30px;
}

/* 強化画面のボタン */
.power_buttons {
    position: absolute;
    top: 308px;
    left: 80px;
}

.power {
    background-color: #5FD1D9;
}