/* 強化方法選択ボタン */
.power_method_buttons {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 50px;
    left: 13px;
}

.power_button {
    background: rgb(231, 231, 231);
    border: 2px solid rgb(189, 160, 0);
    border-radius: 0;
    position: relative;
    top: 38px;
    left: 30px;
    width: 174px;
    height: 200px;
}

.power_icon {
    position: relative;
    top: 20px;
    width: 110px;
    height: 110px;
}

.power_method_button_text {
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
     rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
     rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
    position: relative;
    left: 0px;
}

/* 強化画面のボタン */
.power_buttons {
    background-color: #003761;
    position: absolute;
    top: 330px;
    transform: translateX(-10px);
    width: 670px;
    height: 45px;
}

.power {
    background: #0062ad;
    border-radius: 0;
}