/* アイテム一覧 */
.item_list {
    display: flex;
    gap: 10px;
    border: solid black;
    background-color: white;
    padding: 0px 10px;
    position: absolute;
    top: 70px;
    left: 340px;
    width: 250px;
    height: 200px;
}

/* アイテムの仕切り */
.border {
    border: solid black;
    width: 50px;
    height: 30px;
}

/* 強化する装備 */
.gear {
    border: solid black;
    background-color: white;
    position: absolute;
    top: 70px;
    left: 130px;
}

/* 使用するアイテムのリスト */
.useItemList {
    display: flex;
    gap: 5px;
    border: solid black;
    background-color: white;
    position: absolute;
    top: 230px;
    left: 70px;
    width: 200px;
    height: 30px;
}

/* 使用するアイテム */
.useItem {
    background-color: gray;
    width: 30px;
    height: 30px;
    transform: translate(0px, -15px);
}

/* 強化画面のボタン */
.power_buttons {
    position: absolute;
    top: 310px;
    left: 82px;
}