/* 強化する装備 */
.power_item {
    border: solid rgb(189, 160, 0);
    background-color: white;
    position: absolute;
    top: 70px;
    left: 110px;
    width: 100px;
    height: 100px;
}

.power_ber {
    border: solid rgb(189, 160, 0);
    background-color: white;
    position: relative;
    top: 183px;
    left: 40px;
    width: 240px;
    height: 20px;
}

.exp_text {
    color: white;
    position: relative;
    top: 120px;
    left: 230px;
}

.power_target_text {
    border: solid rgb(189, 160, 0);
    color: white;
    padding-left: 10px;
    line-height: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 220px;
    left: 40px;
    width: 240px;
    height: 110px;
    font-weight: bold;
}

/* 強化用アイテム一覧の枠 */
.item_frame {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    border: solid rgb(189, 160, 0);
    background-color: rgba(0,0,0,0.3);
    padding: 10px 10px;
    position: absolute;
    top: 55px;
    left: 320px;
    width: 280px;
    height: 175px;
}

/* 進化アイテムのボーダー */
.item_border {
    border: 2px solid black;
    width: 44px;
    height: 63px;
}

/* 強化用アイテムの画像 */
.power_for_item_image {
    background-color: rgb(214, 0, 214);
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 20px solid white;
    border-left: 2px solid white;
    width: 40px;
    height: 40px;
    transform: translateY(-50px);
}

.overlap_color {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    width: 18px;
    height: 18px;
    position: relative;
    transform: translateY(-15px);
    left: 1px;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

/* レベル表示 */
.level_text {
    position: relative;
    transform: translateY(-90px);
    left: 5px;
    font-weight: bold;
}

/* 意思決定ボタン達 */
.decition_buttons {
    position: absolute;
    top: 287px;
    left: 365px;
    display: flex;
    gap: 20px;
}

.decition_button_text{
    position: relative;
    transform: translateY(-8px);
}

.decition_button_frame {
    border: solid rgb(189, 160, 0);
    width: 120px;
    height: 50px;
    position: relative;
    transform: translate(-24px, -58px);
}

/* キャンセルボタン */
.cansel {
    background: rgb(231, 231, 231);
    border-top: 6px solid rgb(255, 255, 255);
    border-right: 6px solid rgb(199, 199, 199);
    border-bottom: 6px solid rgb(177, 177, 177);
    border-left: 6px solid rgb(255, 255, 255);
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    height: 50px;
}
/* 強化するボタン */
.power_up {
    background: gold;
    border-top: 6px solid rgb(255, 225, 52);
    border-right: 6px solid rgb(238, 202, 0);
    border-bottom: 6px solid rgb(207, 177, 3);
    border-left: 6px solid rgb(255, 225, 52);
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    height: 50px;
}

/* モーダルウィンドウの設定 */
/* モーダルウィンドウの背景 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* モーダルウィンドウの中身 */
.modal-content {
  background-color: #f4f4f4;
  border-top: 9px solid rgb(252, 232, 121);
  border-right: 9px solid rgb(192, 163, 0);
  border-bottom: 9px solid rgb(192, 163, 0);
  border-left: 9px solid rgb(252, 232, 121);
  margin: 60px 110px;
  width: 450px;
  height: 250px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-body {
    position: relative;
    top: 0px;
    left: 30px;
}

/* モーダルウィンドウの文章 */
.modal_title {
    font-weight: bold;
    font-size: 22px
}

/* モーダルウィンドウのボタン */
.modal_buttons {
    display: flex;
    gap: 10px;
    position: relative;
    top: 80px;
    left: 190px;
}

.calsel_button {
    background-color: white;
    border-top: 4px solid white;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid white;
    border-radius: 0;
    color: black;
    width: 100px;
    height: 30px;
}

.decision_button {
    background: linear-gradient(45deg, green 0%, rgb(0, 194, 0) 45%, rgb(34, 255, 34) 70%, rgb(0, 194, 0) 85%, green 90% 100%);
    border-top: 4px solid rgb(0, 196, 0);
    border-right: 4px solid rgb(0, 160, 0);
    border-bottom: 4px solid green;
    border-left: 4px solid rgb(0, 196, 0);
    border-radius: 0;
    color: white;
    width: 100px;
    height: 30px;
}