/* 戻るボタン */
.cansel_frame {
    border: solid rgb(189, 160, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 57px;
    height: 32px;
}

.cansel {
    background: rgb(231, 231, 231, 0.9);
    border-top: 6px solid rgb(255, 255, 255, 0.9);
    border-right: 6px solid rgb(199, 199, 199, 0.9);
    border-bottom: 6px solid rgb(177, 177, 177, 0.9);
    border-left: 6px solid rgb(255, 255, 255, 0.9);
    border-radius: 0;
    color: black;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 35px;
}

/* キャラクターイラストの位置 */
.character_position {
    width: 260px;
    height: 370px;
    position: absolute;
    top: 10px;
    left: 40px;
}

/* 装備品の位置 */
.equipment_position {
    position: absolute;
    top: 50px;
    left: 300px;
}

/* 装備品の枠 */
.equipment {
    background-color:rgba(0,0,0,0.3);
    border: solid rgb(189, 160, 0);
    display: flex;
    gap: 30px;
    padding: 10px 10px;
    position: relative;
    transform: translateY(-20px);
}

/* 装備品のタイトル */
.equipment_title {
    color: gold;
    font-size: 25px;
    font-weight: bold;
}

/* 個々の装備品の画像 */
.material {
    background-color: white;
    border: solid rgb(189, 160, 0);
    width: 30px;
    height: 30px;
}

/* 装備品変更ボタン */
.equip_change_button {
    background: rgba(0, 100, 176, 0.8);
    border-top: 6px solid rgba(0, 145, 255, 0.8);
    border-right: 6px solid rgba(0, 93, 164, 0.8);
    border-bottom: 6px solid rgba(0, 69, 122, 0.8);
    border-left: 6px solid rgba(0, 145, 255, 0.8);
    border-radius: 0;
    color: white;
    -webkit-text-stroke: 0.1px #000;
    font-weight: bold;
    width: 60px;
    height: 60px;
    position: relative;
    transform: translateY(-80px);
    left: 205px;
    z-index: 10;
}

/* 装備品変更ボタンの枠 */
.equip_change_button_frame {
    border: solid rgb(205, 175, 2);
    width: 60px;
    height: 59px;
    position: relative;
    transform: translateY(-142px);
    left: 202px;
}

/* スキル変更ボタン */
.skill_change_button {
    background: rgba(0, 100, 176, 0.8);
    border-top: 6px solid rgba(0, 145, 255, 0.8);
    border-right: 6px solid rgba(0, 93, 164, 0.8);
    border-bottom: 6px solid rgba(0, 69, 122, 0.8);
    border-left: 6px solid rgba(0, 145, 255, 0.8);
    border-radius: 0;
    color: white;
    -webkit-text-stroke: 0.1px #000;
    font-weight: bold;
    width: 60px;
    height: 40px;
    position: relative;
    transform: translateY(-35px);
    left: 133px;
    z-index: 10;
}

/* スキル変更ボタンの枠 */
.skill_change_button_frame {
    border: solid rgb(205, 175, 2);
    width: 60px;
    height: 39px;
    position: relative;
    transform: translateY(-77px);
    left: 130px;
}

/* スキル表示の枠 */
.skill_position {
    color: gold;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 200px;
    left: 300px;
}

/* スキルのテキスト */
.skill_level {
    background-color:rgba(0,0,0,0.3);
    border: solid rgb(189, 160, 0);
    position: relative;
    font-size: 20px;
    transform: translateY(-20px);
    padding: 0px 10px;
}

/* 出発ボタンの枠 */
.go_button_frame {
    border: solid rgb(205, 175, 2);
    width: 100px;
    height: 70px;
    position: absolute;
    bottom: 17px;
    right: 17px;
}

/* 出発ボタン */
.go_button {
    background: rgb(255, 217, 0, 0.9);
    border-top: 4px solid rgb(255, 225, 52, 0.9);
    border-right: 4px solid rgb(238, 202, 0, 0.9);
    border-bottom: 4px solid rgb(207, 177, 3, 0.9);
    border-left: 4px solid rgb(255, 225, 52, 0.9);
    border-radius: 0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

/* モーダルウィンドウの設定 */
/* モーダルウィンドウの背景 */
.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* モーダルウィンドウの中身 */
.modal-content {
  background-color: #01508d;
  border: 5px solid rgb(189, 160, 0);
  color: gold;
  margin: 60px 90px;
  padding: 1px 20px;
  width: 450px;
  height: 250px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header {
    position: relative;
    transform: translateY(-10px);
    text-align: center;
}

.modal-body {
    background-color:rgba(0,0,0,0.3);
    border: solid rgb(189, 160, 0);
    font-weight: bold;
    font-size: 20px;
    position: relative;
    transform: translateY(-20px);
    width: 440px;
    height: 130px;
}

.modal_skills {
    display: flex;
    gap: 30px;
    position: relative;
    left: 40px;
    flex-wrap: wrap;
    overflow: scroll;
    width: 440px;
    height: 130px;
}

.modal-fotter {
    position: relative;
    top: 65px;
}

.modal_close_button {
    position: relative;
    transform: translateY(-70px);
    left: 175px;
    background: rgb(231, 231, 231, 0.9);
    border-top: 4px solid rgb(255, 255, 255, 0.9);
    border-right: 4px solid rgb(199, 199, 199, 0.9);
    border-bottom: 4px solid rgb(177, 177, 177, 0.9);
    border-left: 4px solid rgb(255, 255, 255, 0.9);
    color: black;
    width: 100px;
    height: 30px;
}

.modal_skill {
    margin-bottom: -100px;
}

.modal_skill_level {
    position: relative;
    top: 3px;
}