/* 内容の位置 */
.content_position {
    position: absolute;
    left: 30px;
}

/* 設定画面のタイトルの文字 */
.setting_title {
    color: gold;
    font-weight: bold;
}

/* 変更内容 */
.changes {
    background-color: white;
    border: solid rgb(189, 160, 0);
    padding: 0px 40px 10px 30px;
}

.setting_text {
    font-weight: bold;
}

/* 遷移ボタンの位置 */
.setting_buttons {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 300px;
    left: 10px;
}

/* 遷移ボタンのデザイン */
.setting_button {
    background: rgb(231, 231, 231);
    border-top: 4px solid rgb(255, 255, 255);
    border-right: 4px solid rgb(199, 199, 199);
    border-bottom: 4px solid rgb(177, 177, 177);
    border-left: 4px solid rgb(255, 255, 255);
    border-radius: 0;
    color: black;
    font-size: 13px;
    font-weight: bold;
    width: 119px;
    height: 38px;
}

.setting_button_text1 {
    position: relative;
    transform: translateY(-5px);
}

.button_frame1 {
    border: solid rgb(189, 160, 0);
    width: 119px;
    height: 38px;
    position: relative;
    transform: translate(-20px, -50px);
}

.setting_button_text2 {
    position: relative;
    transform: translateY(-15px);
}

.button_frame2 {
    border: solid rgb(189, 160, 0);
    width: 119px;
    height: 38px;
    position: relative;
    transform: translate(-20px, -67px);
}

/* ここ以下変更バーのデザイン */
input[type="range"] {
    -webkit-appearance: none; /* これ無しだとスタイルがほぼ全く反映されないので注意 */
  appearance: none;
  cursor: pointer; /* カーソルを分かりやすく */
  outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
  height: 14px; /* バーの高さ */
  width: 100%; /* バーの幅 */
  background: #8acdff; /* バーの背景色 */
  border-radius: 10px; /* バーの両端の丸み */
  border: solid 3px #dff1ff; /* バー周囲の線 */
}

/* WebKit向けのつまみ */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /*  デフォルトのつまみのスタイルを解除 */
  background: #53aeff; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
}
/* Moz向けのつまみ */
input[type="range"]::-moz-range-thumb {
  background: #53aeff; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
  border: none; /* デフォルトの線を消す */
}
/* Firefoxで点線が周りに表示されてしまう問題の解消 */
input[type="range"]::-moz-focus-outer {
  border: 0;
}
/* つまみをドラッグしているときのスタイル */
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}