/* 背景の画像 */
.background_image {
    position: absolute;
    transform: translate(-40px, -25px);
    z-index: -1;
    width: 700px;
}

/* 時計の画像 */
.clock_image {
    width: 250px;
    height: 280px;
    position: absolute;
    top: 80px;
    left: 215px;
}

/* スキル画面の枠 */
.skill_frame {
    margin: 30px 30px;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 560px;
    height: 280px;
}

/* 個別のスキル */
.skill_detail {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    width: 170px;
    height: 60px;
    border: solid rgb(189, 160, 0);
    background-color: rgba(0, 0, 0, 0.3);
}

/* スキルの名前 */
.skill_name {
    position: relative;
    transform: translateY(-5px);
    left: 15px;
}

/* スキルのレベル */
.skill_level {
    position: relative;
    transform: translateY(-20px);
    left: 35px;
}

/* 強化ボタン */
.skill_power_up {
    background: gold;
    border-top: 6px solid rgb(255, 225, 52);
    border-right: 6px solid rgb(238, 202, 0);
    border-bottom: 6px solid rgb(207, 177, 3);
    border-left: 6px solid rgb(255, 225, 52);
    border-radius: 0;
    color: black;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    transform: translateY(-75px);
    left: 100px;
    width: 60px;
    height: 40px;
}

/* 強化ボタンのテキスト */
.skill_power_up_text {
    position: relative;
    transform: translateY(-6px);
}

/* 各スキルの位置 */
.fire {
    color: red;
    position: absolute;
    top: 5px;
    transform: translateX(-20px);
}

.water {
    color: rgb(101, 101, 255);
    position: absolute;
    top: 80px;
    transform: translateX(-20px);
}

.ice {
    color: rgb(0, 225, 255);
    position: absolute;
    top: 155px;
    transform: translateX(-20px);
}

.wind {
    color: greenyellow;
    position: absolute;
    top: 230px;
    transform: translateX(-20px);
}

.thunder {
    color: rgb(212, 0, 212);
    position: absolute;
    top: 7px;
    left: 420px;
}

.light {
    color: white;
    position: absolute;
    top: 82px;
    left: 420px;
}

.dark {
    color: rgb(108, 108, 108);
    position: absolute;
    top: 157px;
    left: 420px;
}

.question {
    color: rgb(194, 194, 194);
    position: absolute;
    top: 232px;
    left: 420px;
}

/* 戻るボタン */
.cansel_frame {
    border: solid rgb(189, 160, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 57px;
    height: 32px;
}

.cansel {
    background: rgb(231, 231, 231);
    border-top: 6px solid rgb(255, 255, 255);
    border-right: 6px solid rgb(199, 199, 199);
    border-bottom: 6px solid rgb(177, 177, 177);
    border-left: 6px solid rgb(255, 255, 255);
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 35px;
}

/* 使用できる本の冊数 */
.least_coin {
    background-color: #003761;
    border-top: solid #005291;
    border-bottom: solid #005291;
    border-right: solid #005291;
    border-radius: 10px;
    width: 83px;
    height: 23px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.least_coin_image {
    position: relative;
    transform: translate(-15px, -3px);
    width: 25px;
    height: 30px;
}

.least_dia_coin {
    color: rgb(231, 231, 231);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transform: translateY(-47px);
    left: 45px;
    z-index: 10;
}