/* 背景 */
body {
    background-image: url(../image/background/shop1.png);
    background-repeat: no-repeat;
    background-size: 670px 380px;
}

.interior {
    position: absolute;
    transform: translate(-20px, -50px);
    width: 700px;
    height: 450px;
}

/* 使用できるコイン量 */
.main_least_coin {
    background-color: #003761;
    border-top: solid #005291;
    border-bottom: solid #005291;
    border-right: solid #005291;
    border-radius: 10px;
    width: 83px;
    height: 23px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.main_least_coin_image {
    position: relative;
    transform: translate(-15px, -3px);
    width: 25px;
    height: 30px;
}

.main_least_dia_coin {
    color: rgb(231, 231, 231);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transform: translateY(-47px);
    left: 45px;
    z-index: 10;
}

/* 販売物 */
.shop_list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    position: absolute;
    top: 50px;
    left: 50px;
}

/* 商品の画像 */
.item {
    border: 3px solid gold;
    background-color: white;
    width: 70px;
    height: 70px;
}

/* 使用するコイン量 */
.least_coin {
    background-color: #003761;
    border-top: solid #005291;
    border-bottom: solid #005291;
    border-right: solid #005291;
    border-radius: 10px;
    width: 83px;
    height: 23px;
    position: relative;
    transform: translateY(-0px);
    right: 30x;
}

.least_coin_image {
    position: relative;
    transform: translate(-15px, -3px);
    width: 25px;
    height: 30px;
}

.least_dia_coin {
    color: rgb(231, 231, 231);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transform: translateY(-47px);
    left: 45px;
    z-index: 10;
}

/* 退出ボタン */
.out_button {
    position: absolute;
    top: 330px;
    left: 500px;
    background-color: rgb(211, 211, 211);
    width: 160px;
    height: 40px;
}

.out_button_image {
    position: relative;
    top: 3px;
    transform: translateX(-50px);
    width: 25px;
    height: 35px;
}

.out_button_text {
    position: relative;
    transform: translateY(-43px);
    left: 20px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}