/* 共通設定 */
body {
    background-color: #FFFF80;
}

/* ４つのボタンの位置 */
.buttons {
    position: absolute;
    top: 300px;
    transform: translate(-40px, 0px);
}

/* マイページボタンの設定 */
.mypage {
    background-color: #D9D9D9;
    border-top: 4px solid #eeeeee;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #eeeeee;
    border-radius: 0;
    color: black;
    font-family: serif;
    font-weight: 900;
    position: absolute;
    width: 119px;
    height: 38px;
}

/* ダンジョンボタンの設定 */
.danjyon {
    background-color: #D9D9D9;
    border-top: 4px solid #eeeeee;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #eeeeee;
    border-radius: 0;
    color: black;
    font-family: serif;
    font-weight: 900;
    position: absolute;
    width: 119px;
    height: 38px;
    left: 119px;
}

/* 持ち物ボタンの設定 */
.item {
    background-color: #D9D9D9;
    border-top: 4px solid #eeeeee;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #eeeeee;
    border-radius: 0;
    color: black;
    font-family: serif;
    font-weight: 900;
    position: absolute;
    width: 119px;
    height: 38px;
    left: 238px;
}

/* 強化ボタンの設定 */
.power {
    background-color: #D9D9D9;
    border-top: 4px solid #eeeeee;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #eeeeee;
    border-radius: 0;
    color: black;
    font-family: serif;
    font-weight: 900;
    position: absolute;
    width: 119px;
    height: 38px;
    left: 357px;
}

/* ガチャボタンの設定 */
.gatya {
    background-color: #D9D9D9;
    border-top: 4px solid #eeeeee;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #eeeeee;
    border-radius: 0;
    color: black;
    font-family: serif;
    font-weight: 900;
    position: absolute;
    width: 119px;
    height: 38px;
    left: 476px;
}

/* プレイヤー表示 */
/* フレーム */
.flame {
    display: flex;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    position: absolute;
    top: 15px;
    left: 50px;
}

/* プレイヤー情報の画像 */
.player_image {
    width: 200px;
    height: 45px;
}

/* ランクの丸 */
.rank {
    width: 45px;
    height: 45px;
    border-radius: 30px;

}

/* ランクのテキスト */
.rank_text {
    font-size: 10px;
    text-align:center;
    color: rgb(29, 223, 3);
    position: absolute;
    top: 0px;
    left: 6px;
}

/* 二本のバーの位置 */
.bers {
    display: flex;
    gap: 3px;
    width: 150px;
    position: absolute;
    top: 5px;
    left: 40px;
}

/* バーの大きさ */
.ber {
    width: 69px;
    height: 10px;
}

/* プレイヤー名 */
.name {
    font-size: 15px;
    position: absolute;
    top: 6px;
    left: 45px;
    color: rgb(29, 223, 3);
}

/* 設定アイコン */
/* 設定アイコンの枠 */
.setting {
    background-color: #FFBB55;
    border: 4px outset #FFBB55;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 15px;
    right: 30px;
}

/* 設定アイコンの画像 */
.setting_image{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: 13px;
}


/* 表示内容の位置 */
.content_position {
    position: absolute;
    left: 80px;
}
