/* 共通設定 */
body {
    background-color: #003761;
}

/* プレイヤー表示 */
/* フレーム */
.flame {
    display: flex;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    position: absolute;
    top: 12px;
    left: 15px;
}

/* プレイヤー情報の画像 */
.player_image {
    width: 325px;
    height: 55px;
}

/* 経験値のバー */
.exp_ber {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 53px;
    height: 53px;
}

/* ランクのテキスト */
.rank_text {
    font-size: 13px;
    text-align:center;
    color: black;
    font-weight: bold;
    position: absolute;
    transform: translateY(-2px);
    left: 8px;
}

/* 二本のバー */
/* 位置 */
.bers {
    width: 150px;
    position: absolute;
    transform: translateY(-15px);
    left: 60px;
}

/* HPバー */
.hp_ber_title {
    position: absolute;
    top: 15px;
    color: green;
    font-weight: bold;
}

.hp_ber {
    position: absolute;
    top: 35px;
    left: 25px;
    width: 80px;
    height: 10px;
    background-color: green;
}

.hp_ber_amount {
    position: absolute;
    left: 60px;
    color: green;
    font-weight: bold;
}

/* MPバー */
.mp_ber_title {
    position: absolute;
    top: 15px;
    left: 123px;
    color: orange;
    font-weight: bold;
}

.mp_ber {
    position: absolute;
    top: 35px;
    left: 150px;
    width: 80px;
    height: 10px;
    background-color: orange;
}

.mp_ber_amount {
    position: absolute;
    left: 180px;
    color: orange;
    font-weight: bold;
}

/* プレイヤー名 */
.name {
    font-size: 15px;
    position: absolute;
    top: 20px;
    left: 62px;
    color: black;
    font-weight: bold;
}

/* 設定アイコン */
/* 設定アイコンの枠 */
.setting {
    background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
    border: 4px outset gold;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    right: 15px;
}

/* 設定アイコンの画像 */
.setting_image{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* その他のアイコン */
.other_icons {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 20px;
    right: 80px;
}

.icon {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 0;
    width: 25px;
    height: 25px;
}

/* ホームボタン */
.go_home {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* フッターボタン */
/* ４つのボタンの位置 */
.buttons {
    position: absolute;
    top: 300px;
    transform: translate(-40px, 0px);
}

/* ボタンのテキスト */
.button_text {
    position: absolute;
    top: 15px;
    left: 35px;
}

/* ホームボタンの設定 */
.mypage {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
     rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
     rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
    position: absolute;
    width: 119px;
    height: 55px;
}

/* アイコン */
.homepage_icon {
    position: absolute;
    top: 0px;
    left: 39px;
}

/* ダンジョン選択ボタンの設定 */
.danjyon {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
     rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
     rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
    position: absolute;
    width: 119px;
    height: 55px;
    left: 119px;
}

.danjyon_button_text {
    position: absolute;
    top: 15px;
    left: 21px;
}

/* 持ち物ボタンの設定 */
.item {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
     rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
     rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
    position: absolute;
    width: 119px;
    height: 55px;
    left: 238px;
}

/* 強化ボタンの設定 */
.power {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
     rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
     rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
    position: absolute;
    width: 119px;
    height: 55px;
    left: 357px;
}

.power_button_text {
    position: absolute;
    top: 15px;
    left: 43px;
}

/* ガチャボタンの設定 */
.gatya {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
     rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
     rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
    position: absolute;
    width: 119px;
    height: 55px;
    left: 476px;
}

/* 表示内容の位置 */
.content_position {
    position: absolute;
    left: 80px;
}
