/* 共通設定 */
.background_image {
    position: absolute;
    transform: translate(-40px, -9px);
    z-index: -1;
    width: 700px;
}

/* プレイヤー表示 */
/* フレーム */
.flame {
    background-color: #003761;
    display: flex;
    width: 670px;
    height: 45px;
    transform: translate(-10px, -10px);
}

/* プレイヤー情報の画像 */
.player_image {
    position: relative;
    top: 5px;
    left: 5px;
}

/* ランクのテキスト */
.rank_text {
    font-size: 13px;
    text-align:center;
    color: white;
    font-weight: bold;
    position: relative;
    left: 10px;
    transform: translateY(-10px);
}

/* プレイヤー名 */
.name_text1 {
    color: white;
    position: relative;
    top: 5px;
    transform: translateX(-40px);
}

.name_text2 {
    color: white;
    position: relative;
    top: 5px;
    transform: translateX(-42px);
}

.border_colom {
    position: relative;
    top: 4px;
    transform: translateX(-10px);
    border-left: 2px solid white;
    width: 2px;
    height: 40px;
}

/* 経験値 */
.exp_content {
    position: relative;
    transform: translate(-60px, -60px);
}

.exp_ber_title {
    color: white;
    font-weight: bold;
    position: relative;
    top: 25px;
    left: 65px;
}

.exp_ber {
    position: relative;
    transform: translateY(-14px);
    left: 100px;
    width: 80px;
    height: 10px;
    background-color: green;
}

.exp_ber_amount {
    position: relative;
    transform: translateY(-60px);
    left: 120px;
    color: white;
    font-weight: bold;
}

/* 設定アイコン */
/* 設定アイコンの枠 */
.setting {
    background: rgb(231, 231, 231);
    width: 30px;
    height: 30px;
    border: 2px solid rgb(189, 160, 0,0.8);
    position: absolute;
    top: 5px;
    right: 7px;
}

/* 設定アイコンの画像 */
.setting_image{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* その他のアイコン */
.other_icons {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 5px;
    right: 50px;
}

.icon {
    background: rgb(231, 231, 231);
    border: 2px solid rgb(189, 160, 0);
    border-radius: 0;
    width: 30px;
    height: 30px;
}

.icon_image {
  position: relative;
  transform: translateY(-3px);
    width: 30px;
    height: 33px;
}

/* ホームボタン */
.go_home {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* フッターボタン */
/* ボタンの背景 */
.buttons {
    background-color: #003761;
    position: absolute;
    top: 277px;
    transform: translateX(-84px);
    width: 670px;
    height: 45px;
}

/* ボタンの位置 */
.buttons_position {
    display: flex;
    gap: 0px;
    position: relative;
    left: 45px;
}

/* アイコン */
.homepage_icon {
    position: relative;
    transform: translateY(-7px);
    left: 3px;
    width: 45px;
    height: 45px;
}

.homepage_icon_danjyon {
    position: relative;
    left: 3px;
    width: 45px;
    height: 35px;
}

.homepage_icon_gatya {
    position: relative;
    transform: translateY(-3px);
    left: 3px;
    width: 50px;
    height: 40px;
}

/* ボタンのテキスト */
.small_button_text {
    position: relative;
    transform: translateY(-30px);
    left: 3px;
    font-size: smaller;
}

.button_text {
    position: relative;
    transform: translateY(-35px);
    left: 3px;
}

.button_text_gatya {
    position: relative;
    transform: translateY(-29px);
    left: 3px;
}

/* ホームボタンの設定 */
.mypage {
    background: #003761;
    border-top: #003761;
    border-bottom: #003761;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 98px;
    height: 45px;
}

.home_button_text {
    position: relative;
    transform: translateY(-25px);
    left: 3px;
}

/* ダンジョン選択ボタンの設定 */
.danjyon {
    background: #003761;
    border-top: #003761;
    border-bottom: #003761;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 98px;
    height: 45px;
}

.danjyon_button_text {
    position: absolute;
    top: 15px;
    left: 21px;
}

/* 装備ボタンの設定 */
.equip {
    background: #003761;
    border-top: #003761;
    border-bottom: #003761;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 98px;
    height: 45px;
}

/* 持ち物ボタンの設定 */
.item {
    background: #003761;
    border-top: #003761;
    border-bottom: #003761;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 98px;
    height: 45px;
}

/* 強化ボタンの設定 */
.power {
    background: #003761;
    border-top: #003761;
    border-bottom: #003761;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 98px;
    height: 45px;
}

.power_button_text {
    position: absolute;
    top: 15px;
    left: 43px;
}

/* ガチャボタンの設定 */
.gatya {
    background: #003761;
    border-top: #003761;
    border-bottom: #003761;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 98px;
    height: 45px;
}

/* 表示内容の位置 */
.content_position {
    position: absolute;
    left: 80px;
}
