/* 強化用アイテム一覧の枠 */
.item_frame {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    border: inset 8px black;
    background-color: white;
    padding: 10px 10px;
    position: absolute;
    top: 55px;
    left: 70px;
    width: 490px;
    height: 185px;
}

/* 強化用アイテムの画像 */
.weapon {
    border: solid black;
    width: 40px;
    height: 40px;
}

/* 意思決定ボタン達 */
.decition_buttons {
    position: absolute;
    top: 295px;
    left: 475px;
    display: flex;
    gap: 20px;
}

/* キャンセルボタン */
.cansel {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-top: 4px solid #e6e6e6;
    border-right: 4px solid #adadad;
    border-bottom: 4px solid #999999;
    border-left: 4px solid #e6e6e6;
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
     rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
     rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
    width: 120px;
    height: 50px;
}