/* アイテム一覧 */
.item_list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    overflow: scroll;
    border: solid rgb(189, 160, 0);
    background-color: rgba(0,0,0,0.3);
    padding: 10px 10px;
    position: relative;
    top: 50px;
    left: 50px;
    width: 507px;
    height: 175px;
}

/* アイテムリスト内のアイテム */
.item_border {
    border: 2px solid black;
    width: 44px;
    height: 63px;
}

/* 武器の画像の枠 */
.list_material {
    background-color: rgb(217, 217, 217);
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 20px solid white;
    border-left: 2px solid white;
    width: 40px;
    height: 40px;
    transform: translateY(-50px);
}

/* 武器のレベル */
.item_text_position {
    position: relative;
    text-align: center;
    transform: translateY(-90px);
    font-weight: bold;
}

/* 進化数 */
.overlap_color {
    background: white;
    width: 18px;
    height: 18px;
    position: relative;
    transform: translateY(-15px);
    left: 1px;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

/* 種別ボタン */
.weapon_type_buttons {
    display: flex;
    flex-flow: column;
    gap: 10px;
    position: relative;
    transform: translateY(-149px);
    left: 582px;
}

/* 種別ボタンの枠 */
.weapon_type_frame {
    border: solid rgb(189, 160, 0);
    border-radius: 0px 20px 20px 0px;
    width: 49px;
    height: 47px;
    position: relative;
    transform: translate(-17px, -70px);
}

.weapon_type_frame2 {
    border: solid rgb(189, 160, 0);
    border-radius: 0px 20px 20px 0px;
    width: 49px;
    height: 47px;
    position: relative;
    transform: translate(-17px, -69px);
}

/* 種別ボタン(武器) */
.weapon_soad_button {
    background: rgb(0, 0, 0, 0.9);
    border: rgb(0, 0, 0, 0.9);
    border-right: 5px solid rgb(85, 85, 85, 0.9);
    border-bottom: 5px solid rgb(99, 99, 99, 0.9);
    border-radius: 0px 20px 20px 0px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

/* 種別ボタン(防具) */
.weapon_shield_button {
    background: rgb(231, 231, 231, 0.9);
    border: rgb(231, 231, 231, 0.9);
    border-right: 5px solid rgb(241, 241, 241, 0.9);
    border-bottom: 5px solid rgb(255, 255, 255, 0.9);
    border-radius: 0px 20px 20px 0px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

/* 種別ボタン(装飾品) */
.weapon_decoration_button {
    background: rgb(231, 231, 231, 0.9);
    border: rgb(231, 231, 231, 0.9);
    border-right: 5px solid rgb(241, 241, 241, 0.9);
    border-bottom: 5px solid rgb(255, 255, 255, 0.9);
    border-radius: 0px 20px 20px 0px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

/* 種別ボタンのテキスト */
.weapon_type_text {
    position: relative;
    transform: translateY(-10px);
}

/* 意思決定ボタンの位置 */
.decition_buttons {
    position: absolute;
    top: 295px;
    left: 475px;
    display: flex;
    gap: 20px;
}

/* キャンセルボタン */
.cansel_frame {
    border: solid rgb(189, 160, 0);
    position: relative;
    transform: translateX(-10px);
    width: 120px;
    height: 50px;
}

.cansel {
    background: rgb(231, 231, 231, 0.9);
    border-top: 6px solid rgb(255, 255, 255, 0.9);
    border-right: 6px solid rgb(199, 199, 199, 0.9);
    border-bottom: 6px solid rgb(177, 177, 177, 0.9);
    border-left: 6px solid rgb(255, 255, 255, 0.9);
    border-radius: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    height: 50px;
    position: relative;
    top: 3px;
    transform: translateX(-153px);
}